@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: rgb(46, 50, 117);
    margin-bottom: 2rem !important;
}

h2 {
    font-size: 1.25rem !important;
}

h1,
h2,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    padding: 0.5rem 1rem;
    font-weight: bold;
}

header {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    background-color: #f8f9fa;
  }
  
  header a {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: #333;
    text-decoration: none;
  }
  
  header nav {
    display: flex;
    justify-content: center;
  }
  
  header .nav-link {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    color: #007bff;
    text-decoration: none;
  }
  
  header .nav-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }

main {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
  }

  .table thead tr {
    border-bottom: 2px solid #007bff;
    color: #007bff;
    text-align: left;
    font-weight: bold;
  }

  .table th,
  .table td {
    padding: 12px 15px;
  }
  
  .table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  
  .table tbody tr:hover {
    background-color: #e0f7ff;
}

/* adding new task styles */
form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 5px;
    color: #007bff;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
}