html,
body {
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: rgb(46, 50, 117);
    margin-bottom: 2rem !important;
}

h2 {
    font-size: 1.25rem !important;
}

h1,
h2,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    padding: 0.5rem 1rem;
    font-weight: bold;
}

form {
    gap: 1rem;
    width: 800px;
}

label {
    text-align: left; 
    margin-right: auto;
}

input {
    width: 400px;
    float: right;
}

#submit {
    display: block;
    width: 120px;
    height: 40px;
    float: none;
    margin: auto;
}

.center {
    width: 600px;
    margin: auto;
    margin-bottom: 10px;
}