
:root {
  --foreground-color: #333333; /* Dark warm gray */
  --background-start-color: #ffebcd; /* Warm light peach */
  --background-end-color: #ffdab9; /* Warm peach */
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      var(--background-start-color),
      var(--background-end-color)
    );
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  margin: 0;
  text-align: center;
}

header {
  width: 100%;
  padding: 1rem;
  background: linear-gradient(
    to right,
    var(--background-start-color),
    var(--background-end-color)
  );
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  box-shadow: 0 4px 6px #353535b7;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: var(--foreground-color);
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent; /* No background */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(51, 51, 51, 0.3); /* Faded dark warm gray */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(51, 51, 51, 0.5); /* Slightly less faded on hover */
}
