.headerContainer {
  width: 100%;
  background-color: lightgray;
  padding: 1rem 2rem;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accountLink,
.logoutLink,
.pcBuilderLink,
.ordersLink {
  margin: 0 1rem; /* Space between the links */
  text-decoration: none; /* Remove the underline */
  color: black; /* Set a color for the links */
}

.pcBuilderLink,
.ordersLink {
  margin: 0 1rem;
}

.middleLinks {
  display: flex;
  justify-content: center;
}

.middleLinks > a {
  margin: 0 1rem; 
}
