.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;

  padding: 0 1rem;
}

.products article {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  width: 170px;
  height: auto;
  padding: 10px;
  margin: auto;

  align-items: center;
  border: 2px solid green;
  background-color: antiquewhite;
}

.products article img {
  border: 3px solid white;
  width: 150px;
  height: 150px;
}

.products article p {
  text-align: center;
}

.products article button {
  margin: 15px 0;
}

@media only screen and (max-width: 1000px) {
  .products {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

}