/* Main styles */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: rgb(12, 95, 67);
}

/* RecipeOverviewTable.module.css */
.tableContainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.recipeTable {
  width: 100%;
  border-collapse: collapse;
}

.recipeTable th,
.recipeTable td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.recipeTable thead {
  background-color: #161208;
  color: #ffffff;
}

/* Apply hover effect only to RecipeOverviewTable */
.tableRow tbody tr {
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.tableRow:hover {
  background-color: rgba(48, 195, 11, 0.5); /* Lighter hover color */
}

.tableRow tbody tr:active {
  background-color: rgba(248, 180, 0, 0.5); /* Slightly darker on click */
}

/* Disable hover effect for other tables */
.tableContainer table tbody tr {
  background-color: transparent; /* Ensure default background */
}


/* Recipes.module.css */
.mainContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.sectionTitle {
  font-size: 1.8rem;
  color: #555;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.noRecipes {
  font-size: 1.2rem;
  color: #999;
  margin-top: 20px;
}

.recipeDetailsTitle {
  font-size: 2rem;
  color: #333;
  margin-top: 30px;
  text-align: center;
}

.closeButton {
  background-color: #f05454;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s ease;
}

.closeButton:hover {
  background-color: #d04343;
}

/* Header.module.css */
.header {
  padding: 15px 0;
  background: linear-gradient(45deg, #333, #444);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.headerLink {
  color: #f0f0f0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.2s ease;
  padding: 8px 16px;
  border-radius: 8px;
}

.headerLink:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
}
