
.overview-page {
    background-color: white;
    color: rgb(0, 164, 0);
    font-family: Arial, sans-serif; 
    min-height: 100vh;
}

.welcome-section {
    text-align: center;
    color: rgb(0, 164, 0);
    width: 60%;
    margin: auto;
    padding: 2em;
}

.welcome-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.welcome-section p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.featured-destinations {
    margin: 1rem;
}

.navigation-links {
    text-align: center;
    margin-top: 3rem;
}

.navigation-links h2 {
    font-size: 1.8rem;
    color: rgb(0, 164, 0);
    margin-bottom: 1rem;
}

.navigation-links a {
    color: rgb(0, 164, 0);
    font-size: 1.2rem;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navigation-links a:hover {
    color: #004d00;
    text-decoration: underline;
}

.hero-image {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.hero-image img {
    max-width: 25%; 
    height: auto; 
    border-radius: 10px;
}
