.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 164, 0);
    color: lightgoldenrodyellow;
    padding-left: 10%;
    padding-right: 20%;
    padding-bottom: 1em;
    padding-top: 1em;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 100px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: lightgoldenrodyellow;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-links a:hover {
    text-decoration: underline;
}