body {
    margin: 0;
    background-color: antiquewhite;
}

main {
    margin: 30px;
}

section {
    margin: auto;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

tr {
    border: 1px solid black;
}

tr[role="button"] {
    cursor: pointer;
}

td,
th {
    padding: 20px 60px 20px 60px;
}

td img {
    width: 200px;
}

.totaalPrijs {
    border-top: 2px solid black;
    width: 20%;
}