/* Base styling for the page */
.userLoginPage {
    background-color: white;
    color: rgb(0, 164, 0);
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: start; 
  }
  
  /* Form container styling */
  .userLoginForm {
    width: 100%;
    max-width: 400px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
  }

    /* Form labels */
  .formLabels {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.25 em;
    color: rgb(0, 164, 0);
    display: block;
    max-width: 300px;
  }

  .inputField{
    margin-bottom: 2em;

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* background-color: #C7F6C7; */
    background-color: #f2f2f2;
    color: black;
    font-size: large;
  }
  
  /* Title styling */
  .titleForm {
    font-size: 1.8rem;
    color: rgb(0, 164, 0);
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
  
  /* Status messages */
  .userLoginStatusMessages {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
  
  .userLoginStatusMessages .success {
    color: rgb(0, 164, 0);
  }
  
  .userLoginStatusMessages .error {
    color: red;
  }
  
  /* Button styling */
  .loginButton {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: white;
    background-color: rgb(0, 164, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1em;
  }
  
  .loginButton:hover {
    background-color: rgb(0, 130, 0);
  }

  .registerButton {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: rgb(0, 164, 0);
    background-color: white;
    border: 2px solid rgb(0, 164, 0);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-top: 1.5em;
  }
  
  .registerButton:hover {
    background-color: rgb(0, 164, 0); /* Green background on hover */
    color: white; /* White text on hover */
    border-color: rgb(0, 164, 0); /* Keep green border on hover */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .user-login-form {
      padding: 1.5rem;
    }
  
    .user-login-form h3 {
      font-size: 1.5rem;
    }
  
    .user-login-form input,
    .user-login-form button {
      font-size: 0.9rem;
    }
  }  